<div class="card mt-8">
  <div class="card-body">
    <div class="container-fluid">
      <%= form_for(@ad) do |form| %>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4">
                <%= form.label :query, "City:" %>
                <%= form.select :city, Ad::CITIES %>
              </div>
              <div class="col-lg-5">
                <%= form.label :color, "Color:" %>
                <%= form.select :color, Ad::COLOR %>
                <%= form.text_field :color, class: "color_field", disabled: true, size: "0.1x1" %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-5">
                <%= form.label :query, "Transmission Type:" %>
                <%= form.select :transmission_type, Ad::TRANSMISSION %>
              </div>
             <div class="col-lg-6">
                <%= form.label :query, "Price:" %>
                <%= form.text_field :price, size: "0.1x1" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row mt-4">
              <div class="col-lg-4">
                <%= form.label :query, "CarMake:" %>
                <%= form.select :car_make, Ad::MAKE %>
              </div>
              <div class="col-lg-8">
                <%= form.label :query, "Assembly Type:" %>
                <%= form.select :assembly_type, Ad::ASSEMBLY %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row mt-4">
              <div class="col-lg-5">
                <%= form.label :query, "Milage:" %>
                <%= form.text_field :milage, class: 'field_size' %>
              </div>
              <div class="col-lg-6">
                <%= form.label :query, "Engine Capacity:" %>
                <%= form.text_field :engine_capacity, size: "0.1x1" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6">
            <%= form.label :query, "Engine Type:" %>
            <%= form.select :engine_type, Ad::ENGINE %>
          </div>
          <div class="col-lg-6">
            <%= form.label :query, "Description:" %>
            <%= form.rich_text_area :description %>
          </div>
        </div>
        <div class="d-grid gap-2">
          <%= form.submit class: "btn btn-warning btn-lg btn-block mt-5"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
