<% if user_signed_in? %>
  <div class="text-center mt-4 mb-4">
    <h1>Search Ads</h1>
  </div>
  <div class="container-fluid m-4">
    <%= form_with(url: ads_path, method: :get) do |form| %>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-4">
              <%= form.label :query, "City:" %>
              <%= form.select :city, Ad::CITIES, include_blank: true %>
            </div>
            <div class="col-lg-5">
              <%= form.label :query, "Color:" %>
              <%= form.select :color, Ad::COLOR, include_blank: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-5">
              <%= form.label :query, "Transmission Type:" %>
              <%= form.select :transmission_type, Ad::TRANSMISSION, include_blank: true %>
            </div>
            <div class="col-lg-6">
              <%= form.label :query, "Price:" %>
              <%= form.number_field :price, in: 100000..10000000, step: 50000 %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-lg-6">
        <div class="row mt-4">
          <div class="col-lg-4">
            <%= form.label :query, "CarMake:" %>
            <%= form.select :car_make, Ad::MAKE, include_blank: true %>
          </div>
          <div class="col-lg-8">
            <%= form.label :query, "Assembly Type:" %>
            <%= form.select :assembly_type, Ad::ASSEMBLY, include_blank: true %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mt-4">
          <div class="col-lg-5">
            <%= form.label :query, "Milage:" %>
            <%= form.text_field :milage, size: "0.1x1" %>
          </div>
          <div class="col-lg-7">
            <%= form.label :query, "Engine Capacity:" %>
            <%= form.text_field :engine_capacity, size: "0.1x1" %>
          </div>
        </div>
      </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <%= form.label :query, "Engine Type:" %>
          <%= form.select :engine_type, Ad::ENGINE, include_blank: true %>
        </div>
        <div class="col-lg-6">
          <%= form.label :query, "Description:" %>
          <%= form.text_field :description, size: "43x1" %>
        </div>
      </div>
      <div class="d-grid gap-2">
        <%= form.submit "Search", class: "btn btn-warning btn-block mt-5 me-5"%>
      </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="container_white">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Maker</th>
            <th>Description</th>
            <th>City</th>
            <th>Price</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Milage</th>
            <th>Color</th>
            <th>Assembly</th>
            <th>Transmission</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @ads.find_each do |ad| %>
          <tr>
            <td><%= link_to ad.car_make, ad %>
              <% if ad.images.attached? %>
                <%= image_tag ad.images.first, size: "160x100", class: 'image' %>
              <% end %>
            </td>
            <td><%= ad.description %></td>
            <td><%= ad.city %></td>
            <td><%= ad.price %></td>
            <td><%= ad.engine_type %></td>
            <td><%= ad.engine_capacity %></td>
            <td><%= ad.milage %></td>
            <td><%= ad.color %></td>
            <td><%= ad.assembly_type %></td>
            <td><%= ad.transmission_type %></td>
            <td>
              <%= link_to 'Details', ad, class:"btn btn-outline-success btn-sm fa fa-home" %>
              <%= link_to 'Fav', favorites_ad_path(ad), class:"btn btn-outline-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="center_div mt-4">
        <%= link_to 'Add a New Ad', new_ad_path, class:"btn btn-primary" %>
      </div>
      <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  </div>
<% end %>
