<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Carsell</h1>
                    <h1 class="mb-5">An Online Marketplace Website for Car Shoppers and Sellers.</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      
                    <div class="features-icons-icon d-flex"><%= image_tag "post.png" %></div>
                    <h3>Post Ad</h3>
                    <p class="lead mb-0">Enter Multiple Features of your Ad in a three step process</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><%= image_tag "feature.png" %></div>
                    <h3>Feature an Ad</h3>
                    <p class="lead mb-0">Featuring the Ad will enlist your Ad on top in the search recommendations</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><%= image_tag "fav.png" %></div>
                    <h3>Favorite an Ad</h3>
                    <p class="lead mb-0">Tap the Favorite Button to view an Ad later in your Favorites</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><%= image_tag "search.png" %></div>
                    <h3>Search an Ad</h3>
                    <p class="lead mb-0">Search for your favorite Ad with a diverse search bar of multiple features</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "CFK.png", class: 'img-circular' %>
                    <h5>Feroz Khan CFK</h5>
                    <p class="font-weight-light mb-0">"Bought my dream car ALSVIN from carsell. It's great I love them."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "H.png", class: 'img-circular' %>
                    <h5>Hamza Arshad</h5>
                    <p class="font-weight-light mb-0">"Relationships, like cars, should undergo regular services to make sure they are still roadworthy. But buying ALTO from carsell made me think otherwise."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "F.png", class: 'img-circular' %>
                    <h5>Fatiq Butt</h5>
                    <p class="font-weight-light mb-0">"Carsell owner choice of a new ride shows how classy and regal he is. I wouldn't have even thought of such a beauty if I were in his shoes. Thanks for suggesting."</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 text-center text-lg-start my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Carsell 2022. All Rights Reserved.</p>
          </div>
      </div>
  </div>
</footer>

<!--
<h1>Carsell</h1>
<p><span>Carsell is the online marketplace website for car shoppers and sellers.</span></p>
<p>Technical framework behind this project is&nbsp;<span>Ruby on Rails</span>&nbsp;and for interface&nbsp;<span>bootstrap</span>&nbsp;is integrated.</p>
<h2>Features</h2>
<ul>
<li>Post Ad going through multiple steps</li>
<li>CRUD operations for an Advertisement</li>
<li>User authentication using devise gem</li>
<li>Add an Advertisement to Favorites</li>
<li>Feature an Advertisment through&nbsp;<span>STRIPE API</span></li>
<li>Search an Advertisment through multiple filters</li>
<li>Close status of an Advertisement</li>
<li>View User Specific Posts</li>
<li>View User Specific Favorite Posts</li>
<li>Pagination all over using pg gem</li>
</ul>
-->


