<div class="center_div">
  <div class="card mt-5">
    <div class="card-body">
    <h4 class="text-center mb-4">Add Contact Information</h4>
    <%= form_for(@ad) do |f| %>
      <div class="field">
        <%= f.label :primary_contact, "Primary Contact" %>
        <br />
        <%= f.text_field :primary_contact, placeholder: "+923005001200", autofocus: true, class: "field_width" %>
      </div>
      <div class="field mt-4">
        <%= f.label :secondary_contact, "Secondary Contact" %>
        <br />
        <%= f.text_field :secondary_contact, placeholder: "+923005001200", class: "field_width" %>
      </div>
      <div class="actions">
        <div class="container">
          <div class="col text-center">
            <%= f.submit "Post Ad", class: "btn btn-success mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col text-center">
      <%= link_to "Get Featured", new_charge_path, class: "btn btn-warning mt-4" %>
    </div>
    </div>
  </div>
</div>
