<div class="container">
  <div class="progress mt-4">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 66%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Step3
      </div>
    </div>
  <div class="center_div">
    <div class="card mt-5">
      <div class="card-body">
      <h4 class="text-center mb-4">Add Contact Information</h4>

      <%= form_for(@ad, url: wizard_path) do |f| %>
      <%= hidden_field_tag :ad_id, @ad.id %>
        <div class="field">
          <%= f.label :primary_contact, "Primary Contact" %>
          <%= f.text_field :primary_contact, placeholder: "+923005001200", autofocus: true, required: true%>
        </div>
        <div class="field mt-4">
          <%= f.label :secondary_contact, "Secondary Contact" %>
          <%= f.text_field :secondary_contact, placeholder: "+923005001200" %>
        </div>
        <div class="actions">
          <div class="container">
            <div class="col text-center">
            <%= f.submit "Post Ad", data: { confirm: "Are you sure you want to Post this Ad?" }, class: "btn btn-success mt-4" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col text-center">
        <button class="btn btn-warning mt-4">Get Featured</button>
      </div>
      </div>
    </div>
  </div>
</div>
